/* styles.css */

:root {
    --cor-laranja: #f85f00;
  }

  
/*
  body{
    background-image: linear-gradient(to right top, #f85f00, #f85f00, #f85f00, #f85f00, #f85f00, #f96800, #fa7100, #fb7a00, #fc8d00, #fc9f00, #fab100, #f8c200) ;
  }

*/

body.overlay {
  overflow: hidden; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

  html{
    width: 100% !important;
    height: 100% !important;
  }

  
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  #load {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;

  }
  

  input[type=number] {
    -moz-appearance: textfield;
  }
  
  h1, h2 {
    color: var(--cor-laranja);
    
  }

  #barra {
    height: 5px;
    background-color: var(--cor-laranja);
    width: 100%;
    margin-top: -5px; /* Para sobrepor a borda superior do formulário */
  }

  
  .error {
    color: red;
  }
  
  #barra{
   
  }
  
  select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: var(--cor-laranja);
  }
  
  option {
    font-size: 16px;
  }
  

  .form-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    color: white;
  }
  
  form {
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    text-align: left;
    color: var(--cor-laranja);
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #btn{
    background-color: var(--cor-laranja);
    color: rgb(255, 255, 255);
  }
  
  @media (max-width: 900px) {
    #container {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
  }
  
  #lowKey{
    margin-top: 20px;
    background-color: transparent;
    border: 0px;
    
  }
  #lowKey a {
    color: var(--cor-laranja);
    cursor: pointer;
  }

  